<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css"/>
</head>
<body ng-app="app">
<div class="container">
    <div ng-controller="appController">
        <div class="row">
            <div class="bg-success">
                <div class="myClass">
                    <title-directive></title-directive>
                </div>
            </div>

        </div>
    </div>
</div>
<script type='text/javascript' src="/angular_final_project/node_modules/angular/angular.js"></script>
<script type='text/javascript' src="/angular_final_project/js/app.js"></script>
<script type="text/javascript" src="/angular_final_project/js/controllers/appController.js"></script>
<script type="text/javascript" src="/angular_final_project/js/directives/titleDirective.js"></script>
</body>
</html>