<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img class="first-slide" src="../images/back1.jpg" alt="First slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>ABl00's Store</h1>
                    <p>Hey!! What you wish, you will get here.</p>
                </div>
            </div>
        </div>
        <div class="item">
            <img class="second-slide"
                 src="../images/back2.jpg"
                 alt="Second slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>ABl00's Store</h1>
                    <p>The best products, best price</p>
                </div>
            </div>
        </div>
        <div class="item">
            <img class="third-slide"
                 src="../images/back3.jpg"
                 alt="Third slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>BAl00's Store</h1>
                    <p>The awesomeness is here.</p>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div><!-- /.carousel -->

<div class="container marketing">
    <div class="row featurette">
        <div class="col-md-7 ballu-border-round1" style="background-color: oldlace;">
            <h4 class="featurette-heading"><strong>Mr. Apil Tiwari</strong> <span
                    class="text-muted">(President,<i> ABl00's Store</i>)</span></h4>
            <p class="lead">Hello, everyone I am Apil Tiwari. I am currently studying Masters in Computer Science at Maharishi University of Management.
                I am from Nepal. I like traveling new places and watching video songs.
                I am frank to everyone, smiling and kind a stubborn.</p>
        </div>
        <div class="col-md-2 ">
            <img class="featurette-image img-responsive center-block img-circle" src="../images/apil.jpg"
                 alt="image1">
            <span class="featurette-heading" style="text-align: center; text-decoration-color: maroon;"><h4 style="text-decoration-color: maroon;"><i>President, ABl00's
                Store</i></h4></span>
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-7 col-md-push-2 ballu-border-round2" style="background-color: oldlace;">
            <h4 class="featurette-heading"><strong>Mr. Balram Agrawal</strong> <span class="text-muted">(Vice President,<i> ABl00's
                Store</i>)</span>
            </h4>
            <p class="lead">Hello, everyone I am Balram Agrawal. I am currently studying Masters in Computer Science at Lamar University.
                I am from Nepal. I like traveling new places and watching video songs.
                I am frank to everyone, smiling and kind a stubborn.</p>
        </div>
        <div class="col-md-2 col-md-pull-7">
            <img class="featurette-image img-responsive center-block img-circle" data-src="../images/ballu.png" src="../images/ballu.jpg"
                 alt="image2">
            <span class="featurette-heading" style="text-align: center;"><h4 style="text-decoration-color: maroon;"><i>Vice-President, ABl00's
                Store</i></h4></span>
        </div>
    </div>


    <div class="row featurette">
        <div class="col-md-7 ballu-border-round1" style="background-color: oldlace;">
            <h4 class="featurette-heading"><strong>Mr. Prabesh Bista</strong> <span class="text-muted">(CEO,<i> ABl00's
                Store</i>)</span>
            </h4>
            <p class="lead">Hello, everyone this is Prabesh Bista from the home of himalayas knows as NEPAL. </p>
        </div>
        <div class="col-md-2">
            <img class="featurette-image img-responsive center-block img-circle" data-src="../images/prabeshBista.jpg" src="../images/prabeshBista.jpg"
                 alt="image2">
            <span class="featurette-heading" style="text-align: center;"><h4 style="text-decoration-color: maroon;"><i>CEO, ABl00's
                Store</i></h4></span>
        </div>
    </div>
    <div class="row featurette">
        <div class="col-md-7 col-md-push-2 ballu-border-round2" style="background-color: oldlace;">
            <h4 class="featurette-heading"><strong>Mr. Santosh Timi</strong> <span class="text-muted">(DIRECTOR,<i> ABl00's
                Store</i>)</span>
            </h4>
            <p class="lead">Hi, everyone  this is Santosh Timi from Dallas, TX. I work at amazon and I like workingout when i get time. ;) YOU ALL HAVE A GOOD DAY :) </p>
        </div>
        <div class="col-md-2 col-md-pull-7">
            <img class="featurette-image img-responsive center-block img-circle" data-src="../images/santoshTimilsina.jpg" src="../images/santoshTimilsina.jpg"
                 alt="image2">
            <span class="featurette-heading" style="text-align: center;"><h4 style="text-decoration-color: maroon;"><i>DIRECTOR, ABl00's
                Store</i></h4></span>
        </div>
    </div>
    <!-- FOOTER -->


</div><!-- /.container -->
